.container{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f0f0f0;
    padding: 10px;
}
.icon-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex: 1;
}
mat-icon{
    font-size: 24px;
    margin: 0 10px;
    cursor: pointer;
    margin-right: 25px; /* Add spacing between the icons */
}