<div class="container">
    <div class="icon-container">
        <a [routerLink]="['/home']"><app-home></app-home></a>
        <a [routerLink]="['/pros']"><app-pros></app-pros></a>
        <a [routerLink]="['/circles']"><app-circles></app-circles></a>
        <a [routerLink]="['/events']"><app-events></app-events></a>
    </div>
</div>