.container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #f0f0f0;
    padding:0 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .icon-container {
    display: flex;
    align-items: center;
  }

  .mat-icon {
    cursor: pointer;
    margin-right: 25px; /* Add spacing between the icons */
  }

  .search-bar {
    flex: 1; /* Use flex to make the search bar expand and fill the available space */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px; /* Add spacing between the search bar and icon */
    cursor: pointer;
  }
  
  .filters-menu {
    position: fixed;
    bottom: 0; /* Stick the menu's bottom edge to the bottom edge of the screen */
    left: 0;
    width: 100%;
    max-height: 0; /* Initially hide the menu */
    background-color: white;
    padding: 10px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    overflow-y:hidden; /* Hide overflow content */
    transition: max-height 0.3s ease-in-out;
    z-index: 999; /* Ensure it's on top of other content */
  }
  
  .filters-menu.show-menu {
    max-height: 200px; /* Adjust this value to control the menu's height when it's visible */
  }
  .header-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .circle {
    width: 40px; /* Adjust the size as needed */
    height: 40px; /* This ensures it's a perfect circle */
    border-radius: 50%; /* Makes it a circle */
    background-color: blue; /* Fill with blue color */
    margin-right: 10px; /* Adjust spacing between the circle and search bar */
  }
  
  