<div class="container">
  <div class="header-container">
    <div class="circle"></div>
  </div>

  <input 
  type="text" 
  class = "search-bar" 
  placeholder = "Filter..." />
  <!-- (click)="showFiltersMenu"/> -->
  <!-- <div class="filters-menu" [ngClass]="{'show-menu': isMenuVisible}">
    <label>
      <input type="checkbox" /> Filter 1
    </label>
    <label>
      <input typee="checkbox"/> Filter2
    </label>
  </div> -->

    <div class="icon-container">
      <mat-icon>notifications</mat-icon>
      <mat-icon>email</mat-icon>
    </div>
    
  </div>