<!-- <a [routerLink]="['/home']"> -->
    <mat-icon (click)="showHomeContent()">home</mat-icon>
<!-- </a> -->

<div *ngIf="showContent">
    <app-post *ngFor="let post of posts" [post]="post"></app-post>
</div>


