
/* If we don't add the 'button' selector in front of .floating-button
this styling will be done to the div!!*/

.floating-button button{
    position: fixed;
    bottom: 55px;
    right: 20px;

    /* Making it circular */
    height: 50px;
    width: 50px;
    border-radius: 50%;

    cursor: pointer;
    background-color: rgb(149, 51, 121);
}