mat-icon{
    font-size: 24px;
    margin: 0 10px;
    cursor: pointer;
    margin-right: 25px; /* Add spacing between the icons */
}


/* CSS */
a {
    text-decoration: none; /* Remove underlines */
    color: grey; /* Default link color */
  }
  
  a:hover {
    color: rgb(149, 51, 121); /* Color on hover */
  }