/* post.component.css */
.post {
    border: 1px solid #ccc;
    padding: 16px;
    margin-bottom: 10px;
  }
  
  .post-icons {
    display: flex;
    align-items: center;
  }
  
  .like-icon,
  .share-icon,
  .comment-icon {
    font-size: 22px;
    margin-right: 10px;
  }
  
  .like-count,
  .share-count,
  .comment-count {
    font-size: 10px;
  }
  