<div class="post">
    <div class="post-content">

    </div>
    <div class="post-icons">
        <mat-icon class="like-icon">favorite</mat-icon>
        <span class="like-count">{{post.likes}}</span>

        <mat-icon class="share-icon">share</mat-icon>
        <span class="share-count">{{post.shares}}</span>

        <mat-icon class="comment-icon">comment</mat-icon>
        <span class="comment-count">{{post.comments}}</span>

    </div>
</div>